.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-ok{
  animation-name: bounce;
  animation-iteration-count: infinite;
}
/*Background*/
/*:host {
  background-color: green;
  size: 200px 200px;
  display: block;
  width: 100%;
}*/

.makecenter :host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

mat-header-cell, mat-cell {
  justify-content: center;
  flex: 0 0 200px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
}

/* offsets the header by the same amount of size/padding the sort button occupies */
.mat-sort-header-container {
  margin-left: 18px;
}

.mat-row, .mat-header-row {
  border-bottom-width: 0px;
}

table {
  width: 100%;
}

mat-table {
  overflow-x: scroll;
}
