<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight</th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol</th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="makecenter"> Action</th>
      <td mat-cell *matCellDef="let element">
        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile>
            <button mat-button style="background: lightskyblue;" (click)="open(element.symbol)">Am action</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-button style="background: lightskyblue;" (click)="open(element.symbol)">Am action</button>
          </mat-grid-tile>
        </mat-grid-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>


<div [@bounce]="bounce" style="background-color: aqua!important; margin: 20px;" class="animated bounceInRight">Animate 1</div>


<div [@bounce]="{ value: bounce, params: { timing: 2 || 5, delay: 0 || 2 } }" style="background-color: aqua!important; margin: 20px;" class="animated bounceInRight">Animate 2</div>


<div style="margin-top: 20px;" class="animated infinite bounce">
  <mat-card>
    <mat-card-title>Create a new owner</mat-card-title>
    <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Enter Owner's Name</mat-label>
          <input matInput type="text" placeholder="Owner's name" formControlName="name" id="name">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date of birth" formControlName="dateOfBirth" id="dateOfBirth"
                 readonly (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Owner's address" formControlName="address">
          <mat-hint align="end">Not more then 100 characters long.</mat-hint>
          <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
          <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Create</button>
        <button class="mat-ok" type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>


