<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <!--<mat-toolbar color="primary">

    </mat-toolbar>-->
    <mat-card style="background-color: #3BA0EB">
      <img style="width: 100%; height: 150px; border-radius: 20px;" src="assets/images/profile.png" alt="profile"/>
     <!-- <br>
      <mat-card-footer style="text-align: center; color: white;"></mat-card-footer>-->
      <br>
    </mat-card>

    <!--Mobile Menu--->
    <mat-nav-list *ngIf="isHandset$ | async">
      <a mat-list-item routerLink="" [routerLinkActive]="'is-active'" (click)="drawer.toggle()">Profile</a>
      <a mat-list-item routerLink="about" [routerLinkActive]="'is-active'" (click)="drawer.toggle()">About me</a>
     <!-- <a mat-list-item routerLink="#" [routerLinkActive]="'is-active'" (click)="drawer.toggle()">Blog</a>-->
    </mat-nav-list>

    <!--Web Menu--->
    <mat-nav-list *ngIf="!(isHandset$ | async)">
      <a mat-list-item routerLink="" [routerLinkActive]="'is-active'">Profile</a>
      <a mat-list-item routerLink="about" [routerLinkActive]="'is-active'">About me</a>
     <!-- <a mat-list-item routerLink="#" [routerLinkActive]="'is-active'">Blog</a>-->
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar style="background-color: #3BA0EB">
      <button
        type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: white">Prasath Muthaiyan</span>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <button mat-raised-button (click)="openDialog()">Open Dialog</button>

      </mat-card-content>
    </mat-card>


  </mat-sidenav-content>
</mat-sidenav-container>
