<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="width: 100%">
  <div class="row">
    <div class="col-sm-12" style="text-align: center;" >
      <h4 class="animated infinite bounce">Sample APP</h4>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

