<div style="margin: 0px; padding: 0px;" class="container">
  <div class="row">
    <div class="col-lg-12"><img src="../../assets/images/back.jpg" class="img-fluid" alt="Responsive image"></div>
  </div>
</div>
