<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">
      <mat-card>
        <mat-card-content>
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="name">
      </div>

      <div class="form-group">
        <label for="pwd">Address:</label>
        <input type="text" class="form-control" id="pwd" [(ngModel)]="address">
      </div>

          <div class="row">
            <div class="col-lg-6">
              <button type="button" class="btn btn-primary" (click)="saveData(this.name,this.address)">Save</button>
            </div>
            <div class="col-lg-6">
              <button type="button" class="btn btn-primary" (click)="redirect()">Redirect</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4"></div>
  </div>

  <br>



  <div class="row">
    <div class="col-lg-4"></div>


    <div class="col-lg-4">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of getResult;">
          <td>{{user.name}}</td>
          <td>{{user.address}}</td>
          <td>{{user.author}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4"></div>
  </div>


</div>
